.login-container {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: $gray-light;
    color: $semi-dark-color;
    @media screen and (max-width: $view-xs) {
        background: white;
    }
    
    .form-container {
        position: absolute;
        inset: 50% 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: max-content;
        padding: 40px 50px;
        background-color: white;
        border-radius: $border-radius;
        box-shadow: $form-shadow;

        @media screen and (max-width: $view-xs) {
            inset: 0;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 0;
            box-shadow: none;
            padding: 30px;
        }
    }
}