.verify-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    min-height: calc(100vh - 65px);
    max-width: 430px;
    margin: auto;
    text-align: center;
    color: $semi-dark-color;
    @media screen and (max-width: $view-xs) {
        padding: 20px;
    }

    h1 {
        font-size: $font-size-lg;
    }
    
    a {
        color: $secondary;
        text-decoration: underline;
    }
}